.font-weight {
    font-weight: bold;
}
.color-white {
    color: white;
}
.underline {
    text-decoration: underline;
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.h-auto {
    height: auto;
}
.m-lr-24 {
    margin: 0 24upx;
}
.margin-auto {
    margin: auto;
}
.bg-white {
    background: white;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-1 {
    flex: 1;
}
.flex-column {
    flex-direction: column;
}
.flex-end {
    justify-content: flex-end;
}
.placeholder-class {
    font-size: 24upx;
    color: rgb(153, 153, 153);
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.p-sticky {
    position: sticky;
}
.p-fixed {
    position: fixed;
}
.overflow-visible {
    overflow: visible;
}
.overflow-hidden {
    overflow: hidden;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.overflow-scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateZ(0upx);
}
.border-none {
    border: none;
    border: 0;
    border-radius: 0;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.word-break {
    word-break: break-word;
}
#maple-table .el-input-number input {
    padding: 0;
}
#maple-table .el-input-number .el-input-number__decrease {
    right: 0;
    top: 2px;
}
#maple-table .el-input-number .el-input-number__increase {
    right: 1px;
    top: 2px;
}
#maple-table .el-input {
    display: flex;
}
