#maple-header-checkbox:disabled {
    cursor: not-allowed;
}
.maple-readOnly {
    cursor: not-allowed;
    color: #c0c4cc;
}
.htInvalid {
    color: white;
}
.maple-hidden {
    width: 0;
    height: 0;
    overflow: hidden;
}
.cursor {
    cursor: pointer;
}
.maple-up-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #000;
}
.maple-down-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #e91e63;
}
